.header {
  margin-bottom: 60px;
  margin-top: 60px;
}
h3 {
  font-family: Montserrat;
  text-transform: uppercase;
  color: #333;
}
h4 {
  text-transform: lowercase;
  color: #333;
}
.body-wrapper {
  background-color: #F5F8FA;
  padding-top: 60px;
  padding-bottom: 60px;
}
.resource-img-container {
  width: 260px;
  height: 260px;
  overflow: hidden;
}
.resource-img {
  height: 260px;
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}
.detail-container {
  width: 75%;
}
.detail-image {
  height: 323px;

}
.detail-text {
  height: 323px;
  border-radius: 0px;
  padding: 4em;
}

figure {
  overflow: hidden;
}

figure:hover img,
figure.cs-hover img {
  transform: translateY(-10px);
}

figcaption {
  height: 100px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  transform: translateY(20%);
  transition: transform 0.4s, opacity 0.1s 0.3s;
}
figure:hover figcaption,
figure.cs-hover figcaption {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.2s, opacity 0.1s;
}
