{% extends 'base.html' %}
{% block content %}
		<div class="container">
			<div class="row infinite-container">
				<div class="infinite-item">
					{% for resource in resources %}
					<div class="infinite-item">
						<div class="col-md-3">
							<h4>{{ resource.name }}</h4>
							<div class="resource-img-container">
								<a href="/{{ resource.id }}/">
								<img class="resource-img"
								src="{{ resource.image_url|default_if_none:'http://lorempixel.com/260/260/' }}" />
								</a>
							</div>
						</div>
					</div>
					{% endfor %}
					{% if resources.has_next %}
	   					<a class="infinite-more-link" href="?page={{ resources.next_page_number }}"></a>
	 				{% endif %}
				</div>

			</div>
{% endblock %}