{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<title>The Nomad Maker's Guide</title>
</head>
<body>
	<div class="container">
		<h1>The Nomad Maker's Guide</h1>

		<div class="row">
			{% for resource in resources %}
			<div class="col-md-3">
				<h3>{{ resource.name }}</h2>
				<div style="width: 260px; height: 260px; overflow: hidden">
				<img src="{{ resource.image.url }}" width="260px">
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>